* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Helvetica, sans-serif;
    /* background-color: var(--secondary-color);
    /* color: var(--primary-color); */
}

html{
    background-color: var(--secondary-color);
}

nav{
    /* height: 6.5em; */
    /* background-color: green; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.links-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
}

nav a{
    height: 100%;
    padding: 30px  40px;
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    translate: 20em;
}

nav a:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.3s;
}

nav svg{
    fill: var(--primary-color);
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

@media(max-width:650px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -200%;
        z-index: 10;
        width: 100vw;
        background-color: var(--secondary-color);
        /* background-color: green; */
        transition: 0.3s ease-out;
        justify-content: center;
    }

    .close-sidebar-button{
        /* background-color: red; */
        position: absolute;
        top: 0;
        left: 0;
    }

    nav a{
        /* background-color: red; */
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 2em;
        translate: 1em;
        display: flex;
    }
    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    .a-vertical{
        background-color: white;
    }
    
    #sidebar-active:checked ~ .links-container{
        right:0;
    }
}
/*
a:visited {
    color: var(--primary-color); 
}

a:hover {
    color: var(--secondary-color); 
}

a:active {
    color: var(--primary-color); 
}
*/
:root{
    --primary-color:white;
    --secondary-color:blue;
}

html,body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: red;
}

.graphic-text{
    margin-left: auto;
    margin-right: auto;
}

.jude{
    height: 3vw;
    min-height: 60px;
    position: absolute;
    padding-top: 1em;
    padding-left: 1em;
}

.logo{
    height: 2.5vw;
    min-height: 30px;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.email{
    /*! height: 100%; */
    text-decoration: none;
    text-transform: uppercase;
    /*! font-size: 1.5em; */
    font-weight: 600;
    /*! margin-top: 35vh; */
    /*! text-align: center; */
    /*  background-color: red; */
    height: 100vh;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1em, 3vw, 2.5em);
}


a:link {
    color: var(--primary-color);
}

img{
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    width: 42vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-top: 100px;
    justify-content: center;
    min-width: 400px;
}

.description{
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    width: 42vw;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    min-width: 400px;
    font-weight: 500;
    font-size: clamp(0.45em, 1vw, 0.8em);
    padding-top: 6px;
}

.descriptionfinal{
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    align-items: left;
    width: 42vw;
    justify-content: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 6px;
    padding-bottom: 100px;
    justify-content: center;
    min-width: 400px;
    font-weight: 500;
    font-size: clamp(0.45em, 1vw, 0.8em);
}

.content-container{
    /* background-color: red; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 4em;
    justify-content: center;
}

.content{
    width: 42vw;
    max-width: 2000px;
    min-width: 400px;
}

.youtube{
    margin-left: auto;
    margin-right: auto;
    align-items:center;
    width: 42vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-width: 400px;
    max-width: 42vw;
}

.videowrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.videowrapper iframe {
    width: 42vw;
    height: 29vw;
    max-width: 2000px;
    min-width: 400px;
    min-height: 326px;
    padding-top: 100px;
}
